# Data Loader

This notebook is responsible to load the data from the excel file from both the sheets and just clean it up a little bit and save the data into csv files which is easier for loading in further analysis

### Section 1: Importing the required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
import os
import glob
import re

### Section 2: Loading the Data from the Excel File

In [2]:
indv_data_df= pd.read_excel(r'../../data/input_data/Data+campus_challenge_FINAL.xlsx', sheet_name = 'Individuals')

In [3]:
indv_data_df.head()

,Indnum,Group,Activity,Units,Consumption,Quality_of_Life_Importance__1_10,solar_powered__water_heater,gas_water_heater,electric_water_heater___peak_hou,electric_water_heater___off_peak,gas,natural_gas,hybrid,electric___peak_hours,electric___off_peak_hours,jetfuel
0,1,1,Household heating => 70F,hours,2.0,88.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,1,1,Household heating < 70F,hours,10.0,85.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,1,1,Use of heat pump,hours,NaN,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,Use of air conditioner,hours,20.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,shower - short,count,5.0,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
indv_data_df.shape

(27054, 16)

In [50]:
carbon_footprint_data_df = pd.read_excel(r'../../data/input_data/Data+campus_challenge_FINAL.xlsx', sheet_name = r'Carbon Footprint', skiprows=1, index_col = 0, na_values=0)

In [51]:
carbon_footprint_data_df

,Activity,Per,solar powered water heater,gas water heater,electric water heater - peak hours,electric water heater - off peak hours,gas,natural gas,Jet Fuel,waste management,hybrid,electric - peak hours,electric - off peak hours,Unnamed: 14,Notes
1,Household heating => 70F,hour,NaN,NaN,NaN,NaN,NaN,0.000436,NaN,NaN,NaN,0.000650,0.000542,NaN,NaN
2,Household heating < 70F,hour,NaN,NaN,NaN,NaN,NaN,0.000872,NaN,NaN,NaN,0.000923,0.000901,NaN,NaN
3,Use of heat pump,hour,NaN,NaN,NaN,NaN,NaN,0.001074,NaN,NaN,NaN,0.001229,0.001188,NaN,NaN
4,Use of air conditioner,hour,NaN,NaN,NaN,NaN,NaN,0.000598,NaN,NaN,NaN,0.007980,0.000721,NaN,NaN
5,shower - short,activity,0.000012,0.000102,0.000232,0.000199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,shower - long (> 3 min),activity,0.000017,0.000149,0.000354,0.000312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,bath,activity,0.000088,0.000254,0.000412,0.000368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,wash-up,activity,0.000004,0.000042,0.000067,0.000055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,use of dishwasher,activity,0.000025,0.000165,0.000398,0.000311,NaN,NaN,NaN,NaN,NaN,0.000084,0.000078,NaN,NaN
10,use of clothes washer,activity,0.000033,0.000199,0.000433,0.000382,NaN,0.000154,NaN,NaN,NaN,0.000102,0.000093,NaN,NaN
11,use of clothes dryer,activity,NaN,NaN,NaN,NaN,NaN,0.000187,NaN,NaN,NaN,0.000132,0.000122,NaN,NaN
12,use of cooking range,activity,NaN,NaN,NaN,NaN,NaN,0.000201,NaN,NaN,NaN,0.000142,0.000135,NaN,NaN
13,use of oven,activity,NaN,NaN,NaN,NaN,NaN,0.000255,NaN,NaN,NaN,0.000162,0.000150,NaN,NaN
14,use of self-clean feature of electric oven,activity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000199,0.000178,NaN,NaN
15,Small kitchen applicance in the home,activity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000054,0.000041,NaN,NaN
16,TV/computer use,hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000002,0.000002,NaN,NaN
17,air travel - large plane,100 miles,NaN,NaN,NaN,NaN,NaN,NaN,0.0179,NaN,NaN,NaN,NaN,NaN,NaN
18,air travel - small plane (<50 seats),100 miles,NaN,NaN,NaN,NaN,NaN,NaN,0.0408,NaN,NaN,NaN,NaN,NaN,NaN
19,car trips- self only,mile,NaN,NaN,NaN,NaN,0.000551,NaN,NaN,NaN,0.000332,0.000192,0.000233,NaN,"For electric cars, peak vs. offpeak refers to ..."
20,car trips - driver and self,mile,NaN,NaN,NaN,NaN,0.000554,NaN,NaN,NaN,0.000337,0.000199,0.000245,NaN,"For electric cars, peak vs. offpeak refers to ..."
21,car trips - 2+ people with multiple end points,mile,NaN,NaN,NaN,NaN,0.000354,NaN,NaN,NaN,0.000123,0.000032,0.000055,NaN,"For electric cars, peak vs. offpeak refers to ..."
22,trips using public ground transportation,mile,NaN,NaN,NaN,NaN,0.000276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,bags of garbage disposed,per bag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0419,NaN,NaN,NaN,NaN,NaN
24,bags of recycling deposited (negative CF),per bag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0419,NaN,NaN,NaN,NaN,NaN
25,bags of compost deposited (negative CF),per bag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0419,NaN,NaN,NaN,NaN,NaN
26,hazardous or electric items disposed,per item,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0211,NaN,NaN,NaN,NaN,NaN
27,large items disposed,per item,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0211,NaN,NaN,NaN,NaN,NaN

In [52]:
carbon_footprint_data_df.shape

(27, 15)

In [53]:
carbon_footprint_data_df_select_data = carbon_footprint_data_df.drop(['Unnamed: 14', 'Notes'], axis = 1)

In [54]:
carbon_footprint_data_df_select_data.shape

(27, 13)

In [55]:
carbon_footprint_data_df_select_data_table = pd.melt(carbon_footprint_data_df_select_data, id_vars=['Activity', 'Per'], value_vars=list(carbon_footprint_data_df.columns.values)[2:])

C:\Users\Saksham Goel\Anaconda3\lib\site-packages\pandas\core\reshape\reshape.py:731: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  frame = frame.loc[:, id_vars + value_vars]
C:\Users\Saksham Goel\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [56]:
carbon_footprint_data_df_select_data_table.shape

(351, 4)

In [57]:
carbon_footprint_data_df_select_data_table_without_na = carbon_footprint_data_df_select_data_table.dropna(axis = 0)

In [58]:
carbon_footprint_data_df_select_data_table_without_na.shape

(76, 4)

In [60]:
carbon_footprint_data_df_select_data_table.to_csv(r'../../data/input_data/Carboon_Footprint_Table.csv')
carbon_footprint_data_df_select_data_table_without_na.to_csv(r'../../data/output_data/Carboon_Footprint_Table.csv')

In [16]:
indv_data_df.to_csv(r'../../data/input_data/Individual_Data.csv')
indv_data_df.to_csv(r'../../data/output_data/Individual_Data.csv')