# Type of Resource Used Carbon Footprint Data Cleaner

This notebook is used to load data from the spreadsheet containing the data about the carboon footprints of each type of resource used per activity from the given .xlsx data file given as part of the Wells Fargo Campus Analytics Challenge.

### Section 1: Importing the required libraries

Import the required libraries for loading and augmenting the dataset

In [1]:
import pandas as pd
import numpy as np

### Section 2: Loading the Data

First we will load the data from the first spreadsheet ('Individuals') from given .xlsx file ('Data+campus_challenge_FINAL.xlsx') into a dataframe.

In [6]:
# Loading the dataset into a dataframe
res_carbon_footprint_df = pd.read_excel(r'../../data/input_data/Data+campus_challenge_FINAL.xlsx', sheet_name='Carbon Footprint', 
                                        skiprows=1, index_col = 0)

In [7]:
res_carbon_footprint_df.head()

,Activity,Per,solar powered water heater,gas water heater,electric water heater - peak hours,electric water heater - off peak hours,gas,natural gas,Jet Fuel,waste management,hybrid,electric - peak hours,electric - off peak hours,Unnamed: 14,Notes
1,Household heating => 70F,hour,NaN,NaN,NaN,NaN,NaN,0.000436,NaN,NaN,NaN,0.000650,0.000542,NaN,NaN
2,Household heating < 70F,hour,NaN,NaN,NaN,NaN,NaN,0.000872,NaN,NaN,NaN,0.000923,0.000901,NaN,NaN
3,Use of heat pump,hour,NaN,NaN,NaN,NaN,NaN,0.001074,NaN,NaN,NaN,0.001229,0.001188,NaN,NaN
4,Use of air conditioner,hour,NaN,NaN,NaN,NaN,NaN,0.000598,NaN,NaN,NaN,0.007980,0.000721,NaN,NaN
5,shower - short,activity,0.000012,0.000102,0.000232,0.000199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Finding the shape of the data frame
res_carbon_footprint_df.shape

(27, 15)

In [9]:
# Deleting the last two columns because they are not needed
res_carbon_footprint_df = res_carbon_footprint_df.drop(res_carbon_footprint_df.columns.values[-2:], axis = 1)

In [10]:
res_carbon_footprint_df.head()

,Activity,Per,solar powered water heater,gas water heater,electric water heater - peak hours,electric water heater - off peak hours,gas,natural gas,Jet Fuel,waste management,hybrid,electric - peak hours,electric - off peak hours
1,Household heating => 70F,hour,NaN,NaN,NaN,NaN,NaN,0.000436,NaN,NaN,NaN,0.000650,0.000542
2,Household heating < 70F,hour,NaN,NaN,NaN,NaN,NaN,0.000872,NaN,NaN,NaN,0.000923,0.000901
3,Use of heat pump,hour,NaN,NaN,NaN,NaN,NaN,0.001074,NaN,NaN,NaN,0.001229,0.001188
4,Use of air conditioner,hour,NaN,NaN,NaN,NaN,NaN,0.000598,NaN,NaN,NaN,0.007980,0.000721
5,shower - short,activity,0.000012,0.000102,0.000232,0.000199,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
res_carbon_footprint_df.shape

(27, 13)

### Section 3 - Augmenting Data (Unpivot Dataframe)

This section is responsible to convert the data from 2-Dimensional Table Form which compares data of each activity type v/s the type of resource used to a 1-Dimensional Table that lists out the data per activity. This process is like the reverse of pivoting a table.

In [14]:
# Converting the Dataset from a Big 2 Dimensional Activity v/s Resource Used table to Per Individual focused tabele 
res_carbon_footprint_table = pd.melt(res_carbon_footprint_df, 
                                     id_vars=['Activity', 'Per'], 
                                     value_vars=res_carbon_footprint_df.columns.values[2:], 
                                     var_name='Name of Resource Used', 
                                     value_name='Carbon Footprint of Resource per Unit')

In [15]:
res_carbon_footprint_table.head()

,Activity,Per,Name of Resource Used,Carbon Footprint of Resource per Unit
0,Household heating => 70F,hour,solar powered water heater,NaN
1,Household heating < 70F,hour,solar powered water heater,NaN
2,Use of heat pump,hour,solar powered water heater,NaN
3,Use of air conditioner,hour,solar powered water heater,NaN
4,shower - short,activity,solar powered water heater,0.000012

In [17]:
# Finding the shape of the new table to make sure that no data is lost
# The new number of records should be equal to the number of individuals * the number of different resources available.
# Here it is equal to - 27 * 11 - 297
res_carbon_footprint_table.shape

(297, 4)

### Section 4 - Handling NaN Values

This section is responsible to actually handle/filter the various NaN values present in the Carbon Footprint Column of the table when the dataframe has been melted (unpivoted)

In [18]:
# Cleaning the table, by dropping the records where we have NaN values in the column of carbon footprint of resource used per unit
res_carbon_footprint_table_drop_na = res_carbon_footprint_table.dropna(axis = 0)

In [20]:
# Make sure the data is as expected
res_carbon_footprint_table_drop_na.head(10)

,Activity,Per,Name of Resource Used,Carbon Footprint of Resource per Unit
4,shower - short,activity,solar powered water heater,0.000012
5,shower - long (> 3 min),activity,solar powered water heater,0.000017
6,bath,activity,solar powered water heater,0.000088
7,wash-up,activity,solar powered water heater,0.000004
8,use of dishwasher,activity,solar powered water heater,0.000025
9,use of clothes washer,activity,solar powered water heater,0.000033
31,shower - short,activity,gas water heater,0.000102
32,shower - long (> 3 min),activity,gas water heater,0.000149
33,bath,activity,gas water heater,0.000254
34,wash-up,activity,gas water heater,0.000042

In [21]:
# Finding the new number of records left after removing NaN Values
res_carbon_footprint_table_drop_na.shape

(76, 4)

In [23]:
# Cleaning the table, by replacing the records where we have NaN values in the column of amount of resource used per unit with 0.0
res_carbon_footprint_table_replace_na_zero = res_carbon_footprint_table
res_carbon_footprint_table_replace_na_zero['Carbon Footprint of Resource per Unit'] = np.nan_to_num(res_carbon_footprint_table_replace_na_zero['Carbon Footprint of Resource per Unit'])

In [24]:
# Make sure the data is as expected
res_carbon_footprint_table_replace_na_zero.head()

,Activity,Per,Name of Resource Used,Carbon Footprint of Resource per Unit
0,Household heating => 70F,hour,solar powered water heater,0.000000
1,Household heating < 70F,hour,solar powered water heater,0.000000
2,Use of heat pump,hour,solar powered water heater,0.000000
3,Use of air conditioner,hour,solar powered water heater,0.000000
4,shower - short,activity,solar powered water heater,0.000012

In [25]:
# Making sure that no record is dropped
res_carbon_footprint_table_replace_na_zero.shape

(297, 4)

### Section 5 - Saving the Tables

This section is used to save the tables generated into csv files as part of saving data as we clean and filter it.

In [26]:
# Saving these data_frames into csv_files
res_carbon_footprint_table_drop_na.to_csv(r'../../data/output_data/Resources_Carbon_Footprint_NA_Dropped.csv', index=False)
res_carbon_footprint_table_replace_na_zero.to_csv(r'../../data/output_data/Resources_Carbon_Footprint_NA_Zeroed.csv', index=False)